img {
  float: left;
}
h1 {
  font-style: italic;
  color: maroon;
  font-weight: bold;
}
.hype {
  font-style: normal;
  color: black;
}
h2 {
  color: crimson;
  font-style: italic;
  font-weight: bold;
}
.main {
  color: black
  font-style: italic;
}
.important {
  font-style: italic;
  
