img {
  float: left;
}
h1 {
  font-style: italic;
  color: maroon;
  font-weight: bold;
}
.hype {
  font-style: normal;
  color: black;
}
h2 {
  color: crimson;
  font-style: italic;
  font-weight: bold;
}
.main {
  color: black
  font-style: italic;
}
.important {
  width: 30%;
  font-style: italic;
  background-color: orange
  border-left: 8px solid black;
  border-right: 8px solid black;
  border-top: 8px solid black;
  border-bottom: 8px solid black;
}
